---
import bgPic from "../../public/bg-main-desktop.png"
import cardLogo from "../../public/card-logo.svg"
import cardBack from "../../public/bg-card-back.png"
import cardFront from "../../public/bg-card-front.png"
import Form from "./MainComponent.astro"
const {numberF, nameF, expMF, expYF, cvcF} = Astro.props
---

  <section>
    <img src={bgPic} alt="background-picture" class="h-[100vh]"/>
    <img 
    src={cardLogo} alt="card-logo" 
    class="
      card-logo 
      absolute 
      z-[2] 
      top-[14rem] 
      left-[16rem]
    "/>
    <img src={cardFront} alt="card-front" class="
      card-front 
      absolute 
      top-[12rem] 
      left-[14rem] 
      z-[1]
    "/>
    <p class="
      card-number 
      text-[30px] 
      z-[2] 
      absolute 
      top-[20rem] 
      left-[16rem] 
      text-white 
      tracking-[2px]
    " id="numberZ">{numberF}</p>
    <p class="
      name z-[2] 
      absolute 
      top-[24rem] 
      left-[16rem] 
      uppercase 
      text-white
    " id="nameZ">{nameF}</p>
    <p class="
      exp z-[2] 
      absolute 
      top-[24rem] 
      left-[36rem] 
      text-white
    "id="expYZ">{expMF}</p>
    <p class="
      exp z-[2] 
      absolute 
      top-[24rem] 
      left-[37rem] 
      text-white
    "id="expYZ">{expYF}</p>
    <img src={cardBack} alt="card-back" class="
      card-back 
      absolute 
      top-[32rem] 
      left-[22rem]
    "/>
    <p class="
      cvc 
      z-[2] 
      absolute 
      top-[38.83rem] 
      left-[44.45rem] 
      text-white
    "id="cvcZ">{cvcF}</p>
  </section>

